@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  --main-navbar-height: 60px;
}

#root {
  min-height: 100vh;
}

.install-button {
  width: 100px;
  padding: 16px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  border-radius: 30px;
  outline: none;
  color: purple;
  font-size: 1rem;
}

.install-button:hover {
  background-color: lightgray;
}

.MainApp {
  text-align: center;
}

.main-navbar {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-areas: 'left center right';
  align-items: center;
  color: white;
  background-color: purple;
  padding: 10px 10px;
  height: var(--main-navbar-height);
}

.main-navbar h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  grid-area: center;
}

.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: calc(100vh - 60px);
    list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90vw;
  font-size: 1.25rem;
}

.projects-list a {
  text-decoration: none;
}

.back-button {
  background-color: transparent;
  grid-area: left;
  color: white;
  border: none;
  outline: none;
  font-size: 1.5rem;
  text-align: left;
  margin: 5px;
}

button.back-button:hover {
  cursor: pointer;
  color: pink;
}
